//VARIABLES
$img-margin: auto;
$img-padding: .5rem;
$img-float-left-margin: 0 1rem 1rem 0;
$img-float-right-margin: 0 0 1rem 1rem;
$img-float-width: 20%; 


//--------------------------------------------------------
//CSS

img{
    width: 100%;
    margin: img-margin;
    padding: $img-padding;
}

.float-left{
    float:left;
    margin: $img-float-left-margin;
    width: $img-float-width;
}

.float-right{
    float: right;
    margin: $img-float-right-margin;
    width: $img-float-width;
}