article{
    width: 100%;
    padding: 2rem;
    @media screen and (min-width: map-get($screen-sizes, "m", 'breakpoint')) {
        padding: 3rem;
    }
    margin: 0;
    p{
        margin-bottom: 1rem;
    }
    
}


.articles-section{
    .article{
        border-top: 3px solid $color-section-separator;
        border-left: 3px solid $color-section-separator;
        &:nth-of-type(odd){
            border-right: 3px solid $color-section-separator;
    
    
        }
        &:last-of-type{
            border-bottom: 3px solid $color-section-separator;
        }

        &:nth-last-of-type(2){
            border-bottom: 3px solid $color-section-separator;
        }

    }
}



