//VARIABLES

    //BOXES
$box-padding: 1rem;
$box-border: 3px solid $color-section-separator;


    //PRE
$pre-background: $color-neutral-1;
$pre-border: 2px solid $color-section-separator;

//CONTAINER
@each $size, $values in $screen-sizes {
    @media screen and (min-width: map-get($values, 'breakpoint')) {
        .container{
            width: 100%;
            max-width: map-get($values, 'container-width' );
            margin: auto;
          }
          
    }
}
//--------------------------------------------------------
//CSS

//TEXT-ALIGNMENTS

.text-center{
    text-align: center;

}

.text-left{
    text-align: left;
    
}

.text-right{
    text-align: right;
    
}

.text-justify{
    text-align: justify;
    
}

//BOXES

.box{
    padding: $box-padding;
    border: $box-border;
}

//PREFORMATED

pre{
    background: $pre-background;
    border: $pre-border;
}






