//VARIABLES BUTTONS

    //BTN

$btn-font-family: $header;
$btn-font-weight: 900;
$btn-font-size: 1rem;
$btn-padding: .5rem 1.5rem;
$btn-margin: 1rem 1rem 1rem 0;
$btn-icon-padding-right: 1rem;
$btn-border: 3px solid $color-primary;
        

        //PRIMARY
$btn-primary-text-color: $color-container;
$btn-primary-color: $color-primary;
$btn-primary-color-hover: $color-hover;
$btn-primary-color-active: $color-active;
$btn-primary-color-inactive: $color-neutral-1;
$btn-primary-border-hover: 3px solid $color-hover;
$btn-primary-border-active: 3px solid $color-active;
$btn-primary-border-inactive: 3px solid $color-neutral-1;

 




        //SECONDARY
$btn-secondary-text-color: $color-primary;
$btn-secondary-text-color-hover: $color-hover;
$btn-secondary-text-color-active: $color-active;
$btn-secondary-text-color-inactive: $color-neutral-1;
$btn-secondary-color: $color-container;
$btn-secondary-border-hover: 3px solid $color-hover;
$btn-secondary-border-active: 3px solid $color-active;
$btn-secondary-border-inactive: 3px solid $color-neutral-1;
$btn-secondary-border-header: 3px solid $color-container;
$btn-secondary-text-color-header: $color-primary;
$btn-secondary-font-size-header: 1.5rem;
$btn-sencondary-padding-header: .5rem 1rem;


        //lARGE

$btn-large-padding: 1rem 2.5rem;
$btn-large-font-size: 1rem;

        //SMALL

$btn-small-padding: .5rem 1.25rem;
$btn-small-font-size: .6rem;

        //FIT

$btn-fit-width: 50%;
$btn-fit-center: center;


//--------------------------------------------------------
//CSS
.btn{
    display: inline-block;
    padding: $btn-padding;
    margin: $btn-margin;
    font-family: $btn-font-family;
    font-weight: $btn-font-weight;
    font-size:$btn-font-size;
    border: $btn-border;
    
    i{
        padding-right: $btn-icon-padding-right;
    }
    &.primary{
        background: $btn-primary-color;
        color: $btn-primary-text-color;
        
        &:hover{
            background: $btn-primary-color-hover;
            border: $btn-primary-border-hover;
        }

        &:active{
            background:$btn-primary-color-active;
            border: $btn-primary-border-active;
        }

        &.inactive{
            background: $btn-primary-color-inactive;
            border: $btn-primary-border-inactive;
            pointer-events: none;
            &:hover{
                background: $btn-primary-color-inactive;
                border: $btn-primary-border-inactive;
            }
    
            &:active{
                background: $btn-primary-color-inactive;
                border: $btn-primary-border-inactive;
            }
        }
    }
    
    &.secondary{

        color: $btn-secondary-text-color;
        &:hover{ 
            border: $btn-secondary-border-hover;
            color: $btn-secondary-text-color-hover;
        }

        &:active{   
            border: $btn-secondary-border-active;
            color: $btn-secondary-text-color-active;
        } 

        &.header{
            border: $btn-secondary-border-header;
            color:  $color-container;
            margin: 0;
            padding: $btn-sencondary-padding-header;
            font-size: $btn-secondary-font-size-header;
            &:hover{ 
                border: $btn-secondary-border-hover;
                color: $btn-secondary-text-color-hover;
            }
        }

        &.inactive{
            border: $btn-secondary-border-inactive;
            color: $btn-secondary-text-color-inactive;
            pointer-events: none;
            &:hover{
                border: $btn-secondary-border-inactive;
                color: $btn-secondary-text-color-inactive;
            }
    
            &:active{
                border: $btn-secondary-border-active;
                color: $btn-secondary-text-color-inactive;
            }
    
        }
    }

    &.large{
        padding:$btn-large-padding; 
        font-size: $btn-large-font-size;
    }

    &.small{
        padding:$btn-small-padding;
        font-size:$btn-small-font-size;
    }


    &.fit{
        width: $btn-fit-width;
        text-align: $btn-fit-center;
    }

}
