//VARIABLES 

    //INPUT-TEXT
$input-text-width: 100%;
$input-text-margin-right-but-last: 2rem;
$input-text-margin: 1rem 0 1rem 0;
$input-text-outline: 0;
$input-text-border-radius: 0;
$input-text-border: 2px solid $color-section-separator;
$input-text-padding: 1rem;

    //SELECT
$select-width: 100%;
$select-margin: 1rem 0 1rem 0;
$select-outline: 0;
$select-border-radius: 0;
$select-broder: 2px solid $color-section-separator;
$select-padding: 1rem;

    //RADIO

$radio-flex-direction: column;
$radio-item-margin: 1rem 0 1rem 0;

    //CHECKBOX
$checkbox-flex-direction: column;
$checkbox-item-margin: 1rem 0 1rem 0;

//--------------------------------------------------------
//CSS

.input-box{
   .input-text{
    &:not(:last-of-type){
        margin-right: $input-text-margin-right-but-last;
    }
   } 
}

.input-text{
    width: $input-text-width;
    margin: $input-text-margin;
    outline: $input-text-outline;
    border-radius: $input-text-border-radius;
    border: $input-text-border;
    padding: $input-text-padding;

}

.select{
    width: $select-width;
    margin: $select-margin;
    outline: $select-outline;
    border-radius: $select-border-radius;
    border: $select-broder;
    padding:  $select-padding;
}

.radio{
    display: flex;
    flex-direction: $radio-flex-direction;
    .radio-item{
        margin: $radio-item-margin;
    }
}

.checkbox{
    display: flex;
    flex-direction: $checkbox-flex-direction;
    .checkbox-item{
        margin: $checkbox-item-margin;
    }
}

//::BEFORE

input[type="checkbox"], input[type="radio"]{
    display: none;
}

input[type="checkbox"] + label, input[type="radio"] + label {
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    padding-left: 2.8rem;
    padding-right: 1rem;
    position: relative;
}

input[type="checkbox"]:checked + label::before, input[type="radio"]:checked + label::before {
    font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f00c";
}

input[type="checkbox"]:checked + label::before, input[type="radio"]:checked + label::before {
    background-color: #212931;
    border-color: #212931;
    color: #ffffff;
}


input[type="radio"] + label::before {
    content: '';
    border-radius: 100%;
    border: solid 2px;
    content: '';
    display: inline-block;
    font-size: 0.8rem;
    height: 1.5rem;
    width: 1.5rem;
    left: 0;
    line-height: 1.65rem;
    text-align: center;
    top: -0.125rem;
    
    position: absolute;
}

input[type="checkbox"] + label::before{
    border-radius: 0;
    border: solid 2px;
    content: '';
    display: inline-block;
    font-size: 0.8rem;
    height: 1.5rem;
    width: 1.5rem;
    left: 0;
    line-height: 1.65rem;
    text-align: center;
    top: -0.125rem;
    
    position: absolute;
}

