@use "sass:map";
// BREAKPOINTS AND CONTAINER WIDTH


$screen-sizes: (
's' : ('breakpoint': 0px, 'container-width':90%),

'm' : ('breakpoint': 600px, 'container-width':85%),

'l' : ('breakpoint': 992px, 'container-width':70%),

'xl': ('breakpoint': 1200px, 'container-width':70%)
);

//BOX-SIZING

*{
    box-sizing: border-box;
}

// DISPLAY SECTION

.block{
    display:block
}

.inline-block{
    display:inline-block
}

.hidden{
    display: none;
}

.flex{
    display: flex;
}

.wrap{
    flex-wrap: wrap;
}
