@use "sass:map";
// BREAKPOINTS AND CONTAINER WIDTH


$screen-sizes: (
's' : ('breakpoint': 0px, 'container-width':90%),

'm' : ('breakpoint': 600px, 'container-width':90%),

'l' : ('breakpoint': 992px, 'container-width':90%),

'xl': ('breakpoint': 1200px, 'container-width':90%)
);

//BOX-SIZING

*{
    box-sizing: border-box;
}

// DISPLAY SECTION

.block{
    display:block
}

.inline-block{
    display:inline-block
}

.hidden{
    display: none;
}

.flex{
    display: flex;
}
.row{
    flex-direction: row;
}

.column{
    flex-direction: column;
}

.wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
