@import './getitdone/index.scss';

body {
    background: radial-gradient(circle at top, $color-secondary  0%, $color-primary 10%);
    
}

.main-header {

}


.main-content {
    background: $color-container;
    padding: 2em;
}

.main-footer {

}

ul {
    padding: 0;
    list-style: none;
}

.footer{
    text-align: center;
    padding: 3em 0 3em 0;
    color: $color-neutral-2;
}

